
.home1 {
    font-family: Arial, sans-serif;
    background-color: #b3d9ff;
    justify-content: center;
    align-items: center;
    display: block;
    padding: 20px;
  }
  
  .home1 .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    text-align: center;
  }
  
  .home1 .button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .home1 h1,
  .home1 h2 {
    color: #2c3e50;
    text-align: center;
  }
  
  .home1 .form-group {
    margin-bottom: 20px;
  }
  
  .home1 .form_group {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .home1 #search-button {
    width: 25%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .home1 label {
    width: 30%;
    text-align: right;
    font-size: 16px;
  }
  
  .home1 input[type="text"],
  .home1 input[type="file"] {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
  }
  
  .home1 input[type="submit"],
  .home1 button {
    padding: 10px 20px; /* 버튼 패딩 조정 */
    justify-content: center;
    background-color: #2c3e50;
    color: white;
    border-radius: 5px;
    border: none; /* 버튼 테두리 제거 */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
  }
  
  .home1 input[type="submit"]:hover,
  .home1 button:hover {
    background-color: #1a242f;
  }
  
  .home1 .photo {
    display: inline-block;
    width: 200px;
    margin: 10px;
    text-align: center;
    vertical-align: top;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .home1 .photo img {
    max-width: 90%;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  .home1 .photo p {
    margin: 5px 0;
  }
  
  .home1 .photo a {
    display: block;
    margin-top: 5px;
    color: #3498db;
    text-decoration: none;
  }
  
  .home1 .photo a:hover {
    text-decoration: underline;
  }
  
  .home1 table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .home1 th,
  .home1 td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 5px;
  }
  
  .home1 th {
    background-color: #f2f2f2;
  }
  
  .home1 .message-buttons {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .home1 .message-buttons a {
    margin-left: 10px;
    color: #3498db;
    text-decoration: none;
  }
  