
.register body {
    font-family: Arial, sans-serif;
    background-color: #b3d9ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}
.register .container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    text-align: center;
}
.register h1 {
    color: #2c3e50;
    text-align: center;
}


.register .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}
.register label {
    margin-right: 10px;
    width: 80px;
    color: #333;
}
.register input[type="text"],
.register input[type="password"],
.register input[type="submit"] {
    width: calc(100% - 90px); 
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.register button {
    width: 100%;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.register button:hover {
    background-color: #1a242f;
}
.register .link-container {
    margin-top: 20px;
}
.register .link-container a {
    color: #3498db;
    text-decoration: none;
    font-size: 16px;
}
.register .link-container a:hover {
    text-decoration: underline;
}
